# WebStorm project
.idea

# Node and Bower
bower_components
node_modules

# Grunt
.grunt

# Unit test artifacts
test-results.html

# Build artifacts
public
dist
examples/**/main.js
examples/**/proscenium.js
examples/**/require.js
