body
    background-color: whitesmoke

.page-wrapper
    background-color: white
    border-left: 1px solid gray
    border-right: 1px solid gray
    box-shadow(0, 0, 1em, lightgray)
    margin: 0 4em
    min-height: 100%
    padding: 2em 1em
