body
    background-color: whitesmoke

h1
    color: white
    opacity: 0.9
    text-align: center
    text-shadow: -1px -1px 2px lightblue, 2px 2px 3px lightgray

.page-wrapper
    background-color: white
    border-left: 1px solid gray
    border-right: 1px solid gray
    box-shadow(0, 0, 1em, lightgray)
    margin: 0 4em
    min-height: 100%
    padding: 0
    position: relative
