.cell
    background-color: wheat
    border: 1px dotted gray
    display: block
    float: left
    height: 1em
    list-style: none
    margin: 0
    padding: 0
    width: 1em
    &.first-in-row
        clear: left
